/* Genel Ayarlar */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Ekranın ortasına yatay hizalama */
    align-items: center; /* Ekranın ortasına dikey hizalama */
    text-align: center;
    background: #FF0000; /* Arka plan rengini açık gri yaptım */
}

/* Arka Plan */
#backgroundEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('h1.gif') no-repeat center center; /* GIF dosyasının yolunu kontrol et */
    background-size: cover;
    z-index: -10; /* Daha düşük bir z-index değeri ile en alt katmanda */
}

/* Profil Fotoğrafı Konteyneri */
#profilePicContainer {
    margin-bottom: 20px; /* Profil fotoğrafı ile yazı arasına boşluk ekleyelim */
    animation: slideInFromLeft 1s ease-out forwards;
    opacity: 0; /* Profil fotoğrafının başlangıçta görünmemesi için opaklık 0 */
    z-index: 1; /* Profil fotoğrafı arka plandan yukarıda */
}

/* Profil Fotoğrafı */
#profilePic {
    width: 180px; /* Boyut arttırıldı */
    height: 180px; /* Boyut arttırıldı */
    border-radius: 50%;
    object-fit: cover; /* Resmin orantılı bir şekilde tam dolmasını sağlar */
    transition: transform 0.3s ease-in-out;
    box-shadow: none; /* Siyah gölgeyi kaldırdım */
    z-index: 2; /* Fotoğraf metinden bir kat daha üstte */
}

/* Profil Altı Metin */
#profileText {
    color: black; /* Metin rengini siyah yaptım */
    font-size: 1.5rem;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.8); /* Arka planı beyaz ve hafif şeffaf yapalım */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: slideInFromBottom 1s ease-out forwards;
    max-width: 80%; /* Metnin ekranı aşmaması için */
    z-index: 3; /* Metin, profil fotoğrafından daha yukarıda */
}

/* Anahtar Giriş Alanı */
#keyInputContainer {
    margin-top: 40px; /* Profil metni ile şifre kutusu arasına boşluk ekleyelim */
    animation: slideInFromTop 1s ease-out forwards;
    z-index: 4; /* Şifre kutusunun en üstte olmasını sağlar */
}

/* ... Diğer kodlar aynı kalır */
